<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/bootstrap.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
  <link rel="stylesheet" href="HomepageIndex.css" type="text/css" />
  <title>find-mountain</title>
</head>

<body>
  <!-- body star -->
  <!-- =========header star========= -->
  <header class="header sticky-top">
    <a href="#" class="logo_top">
      <img src="img/logo.svg" alt="logo_top" />
    </a>
    <div class="btns">
      <a href="#" class="search_button"><i class="bi bi-search h4"></i></a>
      <a href="#" class="shopping_button"><i class="bi bi-cart h4"></i></a>
      <a href="#" class="sign_button">Sign In</a>
    </div>
    <!-- =========nav star========= -->
    <nav class="nav">
      <ul class="list-unstyled d-flex">
        <li>
          <a class="nav-font" href="#">路線地圖</a>
        </li>
        <li>
          <a class="nav-font" href="#">推薦攻略</a>
        </li>
        <li>
          <a class="nav-font" href="#">購物商城</a>
        </li>
        <li>
          <a class="nav-font" href="#">建議穿搭</a>
        </li>
      </ul>
    </nav>

    <div class="btn_nav">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
    <!-- <a class="btn_nav btn_close"></a> -->
    <!-- =========nav end========= -->
  </header>
  <!-- =========header end========= -->

  <!-- =========content star========= -->
  <div class="contentTop position-relative">
    <div class="d-flex">
      <div class="weather">

      </div>
      <div class="align-content-start blobs">
        <img class="cover-fit" src="./img/contentTop/blobsAll.svg" alt="">
      </div>

      <div class="carousel position-absolute ">
        <ul>
          <li>
            <div>初級</div>
          </li>
          <li>
            <div>中級</div>
          </li>
          <li>
            <div>高級</div>
          </li>
        </ul>

      </div>
      <div class="wrapper-Taiwan cover-fit position-absolute">
        <figure class="position-absolute taiwan">
          <img src="./img/contentTop/taiwanAll.png" alt="">
        </figure>
        <figure class="position-absolute low">
          <img src="./img/contentTop/low/low1.png" alt="">
          <img class="position-absolute" src="./img/contentTop/low/low1Word.png" alt="">

        </figure>
        <figure class="position-absolute low2">
          <img src="./img/contentTop/low/low2.png" alt="">
          <img class="low2Word" src="./img/contentTop/low/low2Word.png" alt="">
        </figure>
        <figure class="position-absolute low3">
          <img class="low3Word" src="./img/contentTop/low/low3Word.png" alt="">
          <img src="./img/contentTop/low/low3.png" alt="">

        </figure>
        <figure class="position-absolute bear">
          <img src="./img/contentTop/low/taiwanBearL.png" alt="">

        </figure>
        <figure class="cloudTop position-absolute">
          <img src="./img/contentTop/cloud.png" alt="">
        </figure>
        <figure class="cloudMedium position-absolute">
          <img src="./img/contentTop/cloud2.png" alt="">
        </figure>
        <figure class="cloudBottom position-absolute">
          <img src="./img/contentTop/cloud3.png" alt="">
        </figure>
      </div>

    </div>
  </div>
  <!-- =========content star========= -->
  <div class="contentMountain">
    <div class="container">
      <h2 class="text-center pb-5">推薦攻略</h2>

      <div class="d-flex row">
        <div class="rank-choosed col-lg-7">
          <figure class="overflow-hidden">
            <img src="./img/contentMountain/Component 54 (1).png" alt="">
          </figure>
        </div>
        <div class="ranks d-block col-lg-5">
          <figure class="thumb d-flex">
            <img src="./img/contentMountain/Vector 4.png" alt="" />
            <div class="px-3 py-1">
              <span> 象山親山步道</span>
              <div class="starIcon">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
              </div>
              <div class="easy">
                <img src="./img/contentMountain/easy.png" alt="">
                <span>難度低</span>

                <span>2.3公里</span>

              </div>
            </div>
          </figure>
          <figure class="thumb d-flex">
            <img src="./img/contentMountain/Vector 4.png" alt="" />
            <div class="px-3 py-1">
              <span> 象山親山步道</span>
              <div class="starIcon">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
              </div>
              <div class="easy">
                <img src="./img/contentMountain/easy.png" alt="">
                <span>難度低</span>

                <span>2.3公里</span>

              </div>
            </div>
          </figure>
          <figure class="thumb d-flex">
            <img src="./img/contentMountain/Vector 4.png" alt="" />
            <div class="px-3 py-1">
              <span> 象山親山步道</span>
              <div class="starIcon">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
              </div>
              <div class="easy">
                <img src="./img/contentMountain/easy.png" alt="">
                <span>難度低</span>

                <span>2.3公里</span>

              </div>
            </div>
          </figure>

        </div>
      </div>

    </div>
  </div>
  <div class="shop">
    <div class="container">
      <div class="blobs2 position-absolute">
        <img src="./img/contentShop/Vector-1.png" alt="">
      </div>
      <div class="contentShop">
        <h2 class="text-center pb-5">經典熱銷</h2>
        <div class="row">
          <div class="col-6 col-lg-3 px-0">
            <div class="product-card">
              <div class="product-img-box position-relative">
                <img class="cover-fit" src="./img/contentShop/Mask Group.png" alt="">
                <a role="button" class="position-absolute heart-icon-bkg position-relative">
                  <i class="bi bi-heart-fill position-absolute heart-icon"></i>
                </a>
                <a role="button" class="position-absolute cart-icon-bkg position-relative">
                  <i class="bi bi-cart-fill position-absolute cart-icon"></i>
                </a>
              </div>
              <a href="#" class="text-left product-name">ASOLO<br />阿空加瓜牛皮冰攀靴</a>
              <p class="product-price">NT $8,980</p>
            </div>
          </div>
          <div class="col-6 col-lg-3 px-0">
            <div class="product-card">
              <div class="product-img-box position-relative">
                <img class="cover-fit" src="./img/contentShop/Mask Group.png" alt="">
                <a role="button" class="position-absolute heart-icon-bkg position-relative">
                  <i class="bi bi-heart-fill position-absolute heart-icon"></i>
                </a>
                <a role="button" class="position-absolute cart-icon-bkg position-relative">
                  <i class="bi bi-cart-fill position-absolute cart-icon"></i>
                </a>
              </div>
              <a href="#" class="text-left product-name">ASOLO<br />阿空加瓜牛皮冰攀靴</a>
              <p class="product-price">NT $8,980</p>
            </div>
          </div>
          <div class="col-6 col-lg-3 px-0">
            <div class="product-card">
              <div class="product-img-box position-relative">
                <img class="cover-fit" src="./img/contentShop/Mask Group.png" alt="">
                <a role="button" class="position-absolute heart-icon-bkg position-relative">
                  <i class="bi bi-heart-fill position-absolute heart-icon"></i>
                </a>
                <a role="button" class="position-absolute cart-icon-bkg position-relative">
                  <i class="bi bi-cart-fill position-absolute cart-icon"></i>
                </a>
              </div>
              <a href="#" class="text-left product-name">ASOLO<br />阿空加瓜牛皮冰攀靴</a>
              <p class="product-price">NT $8,980</p>
            </div>
          </div>
          <div class="col-6 col-lg-3 px-0">
            <div class="product-card">
              <div class="product-img-box position-relative">
                <img class="cover-fit" src="./img/contentShop/Mask Group.png" alt="">
                <a role="button" class="position-absolute heart-icon-bkg position-relative">
                  <i class="bi bi-heart-fill position-absolute heart-icon"></i>
                </a>
                <a role="button" class="position-absolute cart-icon-bkg position-relative">
                  <i class="bi bi-cart-fill position-absolute cart-icon"></i>
                </a>
              </div>
              <a href="#" class="text-left product-name">ASOLO<br />阿空加瓜牛皮冰攀靴</a>
              <p class="product-price">NT $8,980</p>
            </div>
          </div>
          <!-- <div class="col-lg-3">
        <div class="product-img position-relative">
          <img src="./img/contentShop/Mask Group.png" alt="">
          <a role="button" class="position-absolute heart-icon-bkg">
            <i class="bi bi-heart-fill heart-icon position-absolute"></i>
          </a>
          <a role="button"></a>
        </div>

      </div> -->
        </div>
        <div class="btnMore">
          <button class="btn btn-primary more">更多產品</button>
        </div>
      </div>
      <div class="contentShop">
        <h2 class="text-center pb-5">編輯嚴選</h2>
        <div class="row">
          <div class="col-6 col-lg-3 px-0">
            <div class="product-card">
              <div class="product-img-box position-relative">
                <img class="cover-fit" src="./img/contentShop/Mask Group.png" alt="">
                <a role="button" class="position-absolute heart-icon-bkg position-relative">
                  <i class="bi bi-heart-fill position-absolute heart-icon"></i>
                </a>
                <a role="button" class="position-absolute cart-icon-bkg position-relative">
                  <i class="bi bi-cart-fill position-absolute cart-icon"></i>
                </a>
              </div>
              <a href="#" class="text-left product-name">ASOLO<br />阿空加瓜牛皮冰攀靴</a>
              <p class="product-price">NT $8,980</p>
            </div>
          </div>
          <div class="col-6 col-lg-3 px-0">
            <div class="product-card">
              <div class="product-img-box position-relative">
                <img class="cover-fit" src="./img/contentShop/Mask Group.png" alt="">
                <a role="button" class="position-absolute heart-icon-bkg position-relative">
                  <i class="bi bi-heart-fill position-absolute heart-icon"></i>
                </a>
                <a role="button" class="position-absolute cart-icon-bkg position-relative">
                  <i class="bi bi-cart-fill position-absolute cart-icon"></i>
                </a>
              </div>
              <a href="#" class="text-left product-name">ASOLO<br />阿空加瓜牛皮冰攀靴</a>
              <p class="product-price">NT $8,980</p>
            </div>
          </div>
          <div class="col-6 col-lg-3 px-0">
            <div class="product-card">
              <div class="product-img-box position-relative">
                <img class="cover-fit" src="./img/contentShop/Mask Group.png" alt="">
                <a role="button" class="position-absolute heart-icon-bkg position-relative">
                  <i class="bi bi-heart-fill position-absolute heart-icon"></i>
                </a>
                <a role="button" class="position-absolute cart-icon-bkg position-relative">
                  <i class="bi bi-cart-fill position-absolute cart-icon"></i>
                </a>
              </div>
              <a href="#" class="text-left product-name">ASOLO<br />阿空加瓜牛皮冰攀靴</a>
              <p class="product-price">NT $8,980</p>
            </div>
          </div>
          <div class="col-6 col-lg-3 px-0">
            <div class="product-card">
              <div class="product-img-box position-relative">
                <img class="cover-fit" src="./img/contentShop/Mask Group.png" alt="">
                <a role="button" class="position-absolute heart-icon-bkg position-relative">
                  <i class="bi bi-heart-fill position-absolute heart-icon"></i>
                </a>
                <a role="button" class="position-absolute cart-icon-bkg position-relative">
                  <i class="bi bi-cart-fill position-absolute cart-icon"></i>
                </a>
              </div>
              <a href="#" class="text-left product-name">ASOLO<br />阿空加瓜牛皮冰攀靴</a>
              <p class="product-price">NT $8,980</p>
            </div>
          </div>
          <!-- <div class="col-lg-3">
        <div class="product-img position-relative">
          <img src="./img/contentShop/Mask Group.png" alt="">
          <a role="button" class="position-absolute heart-icon-bkg">
            <i class="bi bi-heart-fill heart-icon position-absolute"></i>
          </a>
          <a role="button"></a>
        </div>

      </div> -->
        </div>
        <div class="btnMore">
          <button class="btn btn-primary more">更多產品</button>
        </div>
      </div>
    </div>
  </div>
  <div class="contentDress position-relative">
    <div class="">
      <img class="cover-fit" src="./img/contentDress/contentDressBg.png" alt="">
    </div>
    <div class="house position-absolute">
      <img class="cover-fit" src="./img/contentDress/shop.svg" alt="">
    </div>
    <div class="sloth position-absolute">
      <img src="./img/contentDress/sloth.svg" alt="">
    </div>
    <div class="greyBear position-absolute">
      <img src="./img/contentDress/greyBear.svg" alt="">

    </div>
    <div class="rabbit position-absolute">
      <img src="./img/contentDress/rabbit.svg" alt="">

    </div>
  </div>
  <!-- =========content end========= -->

  <!-- =========footer star========= -->
  <footer class="footer">
    <div class="footer_box">
      <div class="d-flex justify-content-center">
        <div class="footer_head">
          <a class="nav-font" href="#">路線地圖</a>
        </div>
        <div class="footer_head">
          <a class="nav-font" href="#">推薦攻略</a>
        </div>
        <a href="#" class="footer_logo">
          <img src="img/logo.png" alt="footer_logo" />
        </a>
        <div class="footer_head">
          <a class="nav-font" href="#">購物商城</a>
        </div>
        <div class="footer_head_last">
          <a class="nav-font" href="#">建議穿搭</a>
        </div>
      </div>

      <div class="footer_line"></div>

      <div class="d-flex justify-content-center">
        <div class="footer_info">聯絡資訊</div>
        <div class="footer_info">參考資訊</div>
      </div>
    </div>

    <div class="footer_copy d-flex justify-content-center">
      &copy;Copyright, Inc. 2021. MFEE17-第五組專題
    </div>
  </footer>
  <!-- =========footer end========= -->
  <!-- body end -->



  <script>
    let btn_nav = document.querySelector(".btn_nav");
    let nav = document.querySelector(".nav");

    btn_nav.onclick = function () {
      this.classList.toggle("change");
      nav.classList.toggle("nav_show");
    };
    //=========content star=========

  </script>

</body>

</html>
