.content-all {
  margin: 5% auto 15% auto;
}
/* title */
.title {
  font-weight: bold;
  font-size: 34px;
  color: #19634a;
}
/* step */
.step {
  padding-top: 60px;
}
.progressbar {
  counter-reset: step;
}
.progressbar li {
  list-style: none;
  display: inline-block;
  width: 30.33%;
  position: relative;
  text-align: center;
  cursor: pointer;
}
.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ddd;
  border-radius: 100%;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  background-color: #fff;
}
.progressbar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  top: 15px;
  left: -50%;
  z-index: -1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: green;
}
.progressbar li.active:before {
  border-color: green;
}
.progressbar li.active + li:after {
  background-color: green;
}

/* sign up content */
.signUp {
  position: relative;
  width: 578px;
  height: 694px;
  left: 50px;
  top: 20px;
  border: 1px solid #19634a;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 50px 30px;
}
.signUp-btn {
  background-color: #24936e;
  color: #ffffff;
}
