<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="index.css" type="text/css" />
    <link rel="stylesheet" href="member-order-complete.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />

    <title>會員管理-我的訂單狀態(待完成)</title>
  </head>
  <body>
    <!-- body star -->
    <!-- =========header star========= -->
    <header class="header sticky-top">
      <a href="#" class="logo_top">
        <img src="img/logo.png" alt="logo_top" />
      </a>
      <div class="btns">
        <a href="#" class="search_button"><i class="bi bi-search h4"></i></a>
        <a href="#" class="shopping_button"><i class="bi bi-cart h4"></i></a>
        <a href="#" class="sign_button">Sign In</a>
      </div>
      <!-- =========nav star========= -->
      <nav class="nav">
        <ul class="list-unstyled d-flex">
          <li>
            <a class="nav-font" href="#">路線地圖</a>
          </li>
          <li>
            <a class="nav-font" href="#">推薦攻略</a>
          </li>
          <li>
            <a class="nav-font" href="#">購物商城</a>
          </li>
          <li>
            <a class="nav-font" href="#">建議穿搭</a>
          </li>
        </ul>
      </nav>

      <div class="btn_nav">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
      <!-- <a class="btn_nav btn_close"></a> -->
      <!-- =========nav end========= -->
    </header>
    <!-- =========header end========= -->

    <!-- =========content star========= -->
    <div class="container">
      <div class="row">
        <!-- manage-left-side start -->
        <div class="col-3">
          <table class="table table-hover table-bordered m-5 table-all">
            <thead>
              <tr>
                <th scope="col" class="text-center">
                  <div class="headshot-img-box">
                    <img src="img/signin.jpg" alt="" class="cover-fit" />
                  </div>
                  <h3 class="m-2 member-name">王小明</h3>
                  <i class="bi bi-caret-up-fill grade-icon"></i>
                  <i class="bi bi-caret-up grade-icon"></i>
                  <i class="bi bi-caret-up grade-icon"></i>
                  <div>
                    <h6 class="grade-icon">肉腳</h6>
                    <i class="bi bi-question-circle"></i>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-active">
                <td scope="row" class="text-center">
                  <a href="member-route.html" class="left-href-color"
                    >路線地圖</a
                  >
                </td>
              </tr>
              <tr>
                <td scope="row" class="text-center">
                  <a href="member-product.html" class="left-href-color"
                    >收藏管理</a
                  >
                </td>
              </tr>
              <tr>
                <td scope="row" class="text-center">
                  <a href="member-comment.html" class="left-href-color"
                    >評論管理</a
                  >
                </td>
              </tr>
              <tr>
                <td scope="row" class="text-center">
                  <a href="member-order-progress.html" class="left-href-color"
                    >訂單管理</a
                  >
                </td>
              </tr>
              <tr>
                <td scope="row" class="text-center">
                  <a href="member-info.html" class="left-href-color"
                    >帳號設定</a
                  >
                </td>
              </tr>
              <tr>
                <td scope="row" class="text-center">
                  <a href="" class="left-href-color">登出</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- manage-left-side end -->
        <!-- manage-right-side start-->
        <div class="col-9 mt-5">
          <h2 class="ml-5 title-main">我的訂單狀態</h2>
          <!-- <div><h6>去過</h6></div> -->
          <div
            class="btn-group switch-category"
            role="group"
            aria-label="Basic example"
          >
            <a
              type="button"
              class="btn btn-primary"
              href="member-order-progress.html"
              >待完成</a
            >
            <a
              type="button"
              class="btn btn-outline-primary"
              href="member-order-complete.html"
              >已完成</a
            >
          </div>
          <table class="table table-bordered m-5 table-all text-center">
            <tbody>
              <tr>
                <td scope="row" class="text-weight-top">訂單編號：</td>
                <td scope="row" class="text-weight-top">20210621001</td>
              </tr>
              <tr>
                <td scope="row" class="text-weight-top">訂單日期：</td>
                <td scope="row" class="text-weight-top">2021/06/21</td>
              </tr>
              <tr>
                <td scope="row" class="text-weight-top">訂單金額：</td>
                <td scope="row" class="text-weight-top">$5,360</td>
              </tr>
              <tr>
                <td scope="row" class="text-weight-top">訂單狀態：</td>
                <td scope="row" class="text-weight-top"></td>
              </tr>
            </tbody>
          </table>
          <!-- <hr /> -->
          <div class="ml-5">
            <h2>商品明細</h2>
            <table class="table table-borderless mt-2 text-center">
              <thead class="thead-tr-border">
                <tr>
                  <th scope="col" class="text-weight-top align-middle">
                    商品照片
                  </th>
                  <th scope="col" class="text-weight-top align-middle">
                    商品名稱
                  </th>
                  <th scope="col" class="text-weight-top align-middle">尺寸</th>
                  <th scope="col" class="text-weight-top align-middle">單價</th>
                  <th scope="col" class="text-weight-top align-middle">數量</th>
                  <th scope="col" class="text-weight-top align-middle">小計</th>
                  <th scope="col" class="text-weight-top align-middle">刪除</th>
                </tr>
              </thead>
              <tbody class="tbody-tr-border">
                <tr>
                  <td scope="row" class="picture-img-wrapper align-middle">
                    <div class="picture-img-box">
                      <img
                        src="img/shoes-pic2.jpeg"
                        alt=""
                        class="picture-img"
                      />
                    </div>
                  </td>
                  <td scope="row" class="text-weight-middle align-middle">
                    MERRELL Tetrex Crest Wrap 女水陸三棲鞋
                  </td>
                  <td scope="row" class="text-weight-middle align-middle">
                    <a href="" class="size">S</a>
                  </td>
                  <td scope="row" class="text-weight-middle align-middle">
                    NT$ 5,000
                  </td>
                  <td scope="row" class="text-weight-middle align-middle">
                    <a href="" class="size"><i class="bi bi-dash"></i></a>
                    <span class="counts">1</span>
                    <a href="" class="size"><i class="bi bi-plus"></i></a>
                  </td>
                  <td scope="row" class="text-weight-middle align-middle">
                    NT$ 5,000
                  </td>
                  <td scope="row" class="text-weight-middle align-middle">
                    <a href=""><i class="bi bi-trash h5"></i></a>
                  </td>
                </tr>
                <tr>
                  <td scope="row" class="picture-img-wrapper align-middle">
                    <div class="picture-img-box">
                      <img
                        src="img/shoes-pic2.jpeg"
                        alt=""
                        class="picture-img"
                      />
                    </div>
                  </td>
                  <td scope="row" class="text-weight-middle align-middle">
                    MERRELL Tetrex Crest Wrap 女水陸三棲鞋
                  </td>
                  <td scope="row" class="text-weight-middle align-middle">
                    <a href="" class="size">S</a>
                  </td>
                  <td scope="row" class="text-weight-middle align-middle">
                    NT$ 5,000
                  </td>
                  <td scope="row" class="text-weight-middle align-middle">
                    <a href="" class="size"><i class="bi bi-dash"></i></a>
                    <span class="counts">1</span>
                    <a href="" class="size"><i class="bi bi-plus"></i></a>
                  </td>
                  <td scope="row" class="text-weight-middle align-middle">
                    NT$ 5,000
                  </td>
                  <td scope="row" class="text-weight-middle align-middle">
                    <a href=""><i class="bi bi-trash h5"></i></a>
                  </td>
                </tr>
                <tr>
                  <td scope="row" class="picture-img-wrapper align-middle">
                    <div class="picture-img-box">
                      <img
                        src="img/shoes-pic2.jpeg"
                        alt=""
                        class="picture-img"
                      />
                    </div>
                  </td>
                  <td scope="row" class="text-weight-middle align-middle">
                    MERRELL Tetrex Crest Wrap 女水陸三棲鞋
                  </td>
                  <td scope="row" class="text-weight-middle align-middle">
                    <a href="" class="size">S</a>
                  </td>
                  <td scope="row" class="text-weight-middle align-middle">
                    NT$ 5,000
                  </td>
                  <td scope="row" class="text-weight-middle align-middle">
                    <a href="" class="size"><i class="bi bi-dash"></i></a>
                    <span class="counts">1</span>
                    <a href="" class="size"><i class="bi bi-plus"></i></a>
                  </td>
                  <td scope="row" class="text-weight-middle align-middle">
                    NT$ 5,000
                  </td>
                  <td scope="row" class="text-weight-middle align-middle">
                    <a href=""><i class="bi bi-trash h5"></i></a>
                  </td>
                </tr>
                <tr>
                  <td scope="row" class="picture-img-wrapper align-middle">
                    <div class="picture-img-box">
                      <img
                        src="img/shoes-pic2.jpeg"
                        alt=""
                        class="picture-img"
                      />
                    </div>
                  </td>
                  <td scope="row" class="text-weight-middle align-middle">
                    MERRELL Tetrex Crest Wrap 女水陸三棲鞋
                  </td>
                  <td scope="row" class="text-weight-middle align-middle">
                    <a href="" class="size">S</a>
                  </td>
                  <td scope="row" class="text-weight-middle align-middle">
                    NT$ 5,000
                  </td>
                  <td scope="row" class="text-weight-middle align-middle">
                    <a href="" class="size"><i class="bi bi-dash"></i></a>
                    <span class="counts">1</span>
                    <a href="" class="size"><i class="bi bi-plus"></i></a>
                  </td>
                  <td scope="row" class="text-weight-middle align-middle">
                    NT$ 5,000
                  </td>
                  <td scope="row" class="text-weight-middle align-middle">
                    <a href=""><i class="bi bi-trash h5"></i></a>
                  </td>
                </tr>
                <tr>
                  <td scope="row" class="picture-img-wrapper align-middle">
                    <div class="picture-img-box">
                      <img
                        src="img/shoes-pic2.jpeg"
                        alt=""
                        class="picture-img"
                      />
                    </div>
                  </td>
                  <td scope="row" class="text-weight-middle align-middle">
                    MERRELL Tetrex Crest Wrap 女水陸三棲鞋
                  </td>
                  <td scope="row" class="text-weight-middle align-middle">
                    <a href="" class="size">S</a>
                  </td>
                  <td scope="row" class="text-weight-middle align-middle">
                    NT$ 5,000
                  </td>
                  <td scope="row" class="text-weight-middle align-middle">
                    <a href="" class="size"><i class="bi bi-dash"></i></a>
                    <span class="counts">1</span>
                    <a href="" class="size"><i class="bi bi-plus"></i></a>
                  </td>
                  <td scope="row" class="text-weight-middle align-middle">
                    NT$ 5,000
                  </td>
                  <td scope="row" class="text-weight-middle align-middle">
                    <a href=""><i class="bi bi-trash h5"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
            <hr />
            <div class="ml-2">
              <h2>配送資訊</h2>
              <table class="table table-borderless mt-2">
                <tbody>
                  <tr>
                    <td scope="row lass="text-weight-middle align-middle"">收件人姓名：</td>
                    <td scope="row" lass="text-weight-middle align-middle">王小明</td>
                  </tr>
                  <tr>
                    <td scope="row lass="text-weight-middle align-middle"">收件地址（取件超商）：</td>
                    <td scope="row" lass="text-weight-middle align-middle">中央大學</td>
                  </tr>
                  <tr>
                    <td scope="row" lass="text-weight-middle align-middle">收件人電話</td>
                    <td scope="row" lass="text-weight-middle align-middle">0900123456</td>
                  </tr>
                  <tr>
                    <td scope="row" lass="text-weight-middle align-middle">付款方式</td>
                    <td scope="row" lass="text-weight-middle align-middle">信用卡繳費</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- manage-right-side end-->
      </div>
    </div>
    <!-- =========content end========= -->

    <!-- =========footer star========= -->
    <footer class="footer">
      <div class="footer_box">
        <div class="d-flex justify-content-center">
          <div class="footer_head">
            <a class="nav-font" href="#">路線地圖</a>
          </div>
          <div class="footer_head">
            <a class="nav-font" href="#">推薦攻略</a>
          </div>
          <a href="#" class="footer_logo">
            <img src="img/logo.png" alt="footer_logo" />
          </a>
          <div class="footer_head">
            <a class="nav-font" href="#">購物商城</a>
          </div>
          <div class="footer_head_last">
            <a class="nav-font_footerLast" href="#">建議穿搭</a>
          </div>
        </div>

        <div class="footer_line"></div>

        <div class="d-flex justify-content-center">
          <div class="footer_info">聯絡資訊</div>
          <div class="footer_info">參考資訊</div>
        </div>
      </div>

      <div class="footer_copy d-flex justify-content-center">
        &copy;Copyright, Inc. 2021. MFEE17-第五組專題
      </div>
    </footer>
    <!-- =========footer end========= -->
    <!-- body end -->

    <script>
      let btn_nav = document.querySelector(".btn_nav");
      let nav = document.querySelector(".nav");

      btn_nav.onclick = function () {
        this.classList.toggle("change");
        nav.classList.toggle("nav_show");
      };
    </script>
  </body>
</html>
