<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="index.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <style>
      /* right-side */
      .have-been {
        float: left;
      }
      .switch-category {
        /* display: inline-flexbox;
        justify-self: right; */
        float: right;
      }
    </style>
    <title>find-mountain</title>
  </head>
  <body>
    <!-- body star -->
    <!-- =========header star========= -->
    <header class="header sticky-top">
      <a href="#" class="logo_top">
        <img src="img/logo.png" alt="logo_top" />
      </a>
      <div class="btns">
        <a href="#" class="search_button"><i class="bi bi-search h4"></i></a>
        <a href="#" class="shopping_button"><i class="bi bi-cart h4"></i></a>
        <a href="#" class="sign_button">Sign In</a>
      </div>
      <!-- =========nav star========= -->
      <nav class="nav">
        <ul class="list-unstyled d-flex">
          <li>
            <a class="nav-font" href="#">路線地圖</a>
          </li>
          <li>
            <a class="nav-font" href="#">推薦攻略</a>
          </li>
          <li>
            <a class="nav-font" href="#">購物商城</a>
          </li>
          <li>
            <a class="nav-font" href="#">建議穿搭</a>
          </li>
        </ul>
      </nav>

      <div class="btn_nav">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
      <!-- <a class="btn_nav btn_close"></a> -->
      <!-- =========nav end========= -->
    </header>
    <!-- =========header end========= -->

    <!-- =========content star========= -->
    <div class="container">
      <div class="row">
        <!-- manage-left-side start -->
        <div class="col-2">
          <table class="table table-bordered m-5">
            <thead>
              <tr>
                <th scope="col" class="text-center">王小明</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row" class="text-center">路線地圖</td>
              </tr>
              <tr>
                <td scope="row" class="text-center">收藏管理</td>
              </tr>
              <tr>
                <td scope="row" class="text-center">評論管理</td>
              </tr>
              <tr>
                <td scope="row" class="text-center">訂單管理</td>
              </tr>
              <tr>
                <td scope="row" class="text-center">帳號設定</td>
              </tr>
              <tr>
                <td scope="row" class="text-center">登出</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- manage-left-side end -->
        <!-- manage-right-side start-->
        <div class="col-10 mt-5">
          <!-- <div><h6>去過</h6></div> -->
          <div
            class="btn-group switch-category"
            role="group"
            aria-label="Basic example"
          >
            <a
              type="button"
              class="btn btn-outline-primary"
              href="member-product.html"
              >產品</a
            >
            <a type="button" class="btn btn-primary" href="member-article.html"
              >文章</a
            >
          </div>
          <table class="table table-bordered m-5">
            <thead>
              <tr>
                <th scope="col">文章照片</th>
                <th scope="col">文章名稱</th>
                <th scope="col">使用者總體評分</th>
                <th scope="col">取消收藏</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row"><img src="" alt="" /></td>
                <td scope="row">象山步道</td>
                <td scope="row">
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star"></i>
                  <i class="bi bi-star"></i>
                </td>
                <td scope="row"><i class="bi bi-x-square-fill"></i></td>
              </tr>
              <tr>
                <td scope="row"><img src="" alt="" /></td>
                <td scope="row">象山步道</td>
                <td scope="row">
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star"></i>
                  <i class="bi bi-star"></i>
                </td>
                <td scope="row"><i class="bi bi-x-square-fill"></i></td>
              </tr>
              <tr>
                <td scope="row"><img src="" alt="" /></td>
                <td scope="row">象山步道</td>
                <td scope="row">
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star"></i>
                  <i class="bi bi-star"></i>
                </td>
                <td scope="row"><i class="bi bi-x-square-fill"></i></td>
              </tr>
              <tr>
                <td scope="row"><img src="" alt="" /></td>
                <td scope="row">象山步道</td>
                <td scope="row">
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star"></i>
                  <i class="bi bi-star"></i>
                </td>
                <td scope="row"><i class="bi bi-x-square-fill"></i></td>
              </tr>
              <tr>
                <td scope="row"><img src="" alt="" /></td>
                <td scope="row">象山步道</td>
                <td scope="row">
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star"></i>
                  <i class="bi bi-star"></i>
                </td>
                <td scope="row"><i class="bi bi-x-square-fill"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- manage-right-side end-->
      </div>
    </div>
    <!-- =========content end========= -->

    <!-- =========footer star========= -->
    <footer class="footer">
      <div class="footer_box">
        <div class="d-flex justify-content-center">
          <div class="footer_head">
            <a class="nav-font" href="#">路線地圖</a>
          </div>
          <div class="footer_head">
            <a class="nav-font" href="#">推薦攻略</a>
          </div>
          <a href="#" class="footer_logo">
            <img src="img/logo.png" alt="footer_logo" />
          </a>
          <div class="footer_head">
            <a class="nav-font" href="#">購物商城</a>
          </div>
          <div class="footer_head_last">
            <a class="nav-font_footerLast" href="#">建議穿搭</a>
          </div>
        </div>

        <div class="footer_line"></div>

        <div class="d-flex justify-content-center">
          <div class="footer_info">聯絡資訊</div>
          <div class="footer_info">參考資訊</div>
        </div>
      </div>

      <div class="footer_copy d-flex justify-content-center">
        &copy;Copyright, Inc. 2021. MFEE17-第五組專題
      </div>
    </footer>
    <!-- =========footer end========= -->
    <!-- body end -->

    <script>
      let btn_nav = document.querySelector(".btn_nav");
      let nav = document.querySelector(".nav");

      btn_nav.onclick = function () {
        this.classList.toggle("change");
        nav.classList.toggle("nav_show");
      };
    </script>
  </body>
</html>
