.logInImg-fit {
  width: 100%;
  height: 600px;
  object-fit: contain;
}

.right-side {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 600px;
}

.title {
  color: #19634a;
}
.forgetPassword {
  color: #cc543a;
  padding-right: 25px;
  border-right: 1px solid #c4c4c4;
}
.login-btn {
  background-color: #24936e;
  color: #ffffff;
}
.signUp {
  color: #5b7553;
}
