<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="mountain_index.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <title>find-mountain</title>
  </head>
  <body>
    <!-- body star -->
    <!-- =========header star========= -->
    <header class="header sticky-top">
      <a href="#" class="logo_top">
        <img src="img/logo.png" alt="logo_top" />
      </a>
      <div class="btns">
        <a href="#" class="search_button"><i class="bi bi-search h4"></i></a>
        <a href="#" class="shopping_button"><i class="bi bi-cart h4"></i></a>
        <a href="#" class="sign_button">Sign In</a>
      </div>
      <!-- =========nav star========= -->
      <nav class="nav">
        <ul class="list-unstyled d-flex">
          <li>
            <a class="nav-font" href="#">路線地圖</a>
          </li>
          <li>
            <a class="nav-font" href="#">推薦攻略</a>
          </li>
          <li>
            <a class="nav-font" href="#">購物商城</a>
          </li>
          <li>
            <a class="nav-font" href="#">建議穿搭</a>
          </li>
        </ul>
      </nav>

      <div class="btn_nav">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>

      <!-- =========nav end========= -->
    </header>
    <!-- =========header end========= -->

    <!-- =========content star========= -->
    <div class="wrapper">
      <img class="bg" src="img/mountain-img/bgShort.png" alt="bg" />
      <!-- =========part1 map start========= -->
      <h1 class="bg_box container">
        <!-- <img class="bg" src="img/bg.png" alt="bg" /> -->
        <div class="maps">
          <div class="maps_item">
            <img class="low_map" src="img/mountain-img/lowMap.png" alt="low_map" />
            <a class="Xiangshan" href="#">
              <div class="Xiangshan_box circle"></div>
            </a>
            <a class="Jinmian" href="#">
              <div class="Jinmian_box circle"></div>
            </a>
            <a class="Chi-hsing" href="#">
              <div class="Chi-hsing_box circle"></div>
            </a>
          </div>
        </div>
        <img class="lowBear" src="img/mountain-img/lowBear.png" alt="lowBear" />
      </h1>
      <!-- =========part1 map end========= -->

      <div class="container">
        <!-- =========map_btn start========= -->
        <div class="map_btn">
          <a href="#" class="low_button btn btn-primary btn-lg">初階</a>
          <a href="#" class="middle_button btn btn-primary btn-lg">中階</a>
          <a href="#" class="high_button btn btn-primary btn-lg">高階</a>
        </div>
        <!-- =========map_btn end========= -->

        <!-- =========map list start========= -->
        <div class="content_list">
          <h2>初階列表</h2>

          <div class="list d-flex">
            <figure class="Xiangshan_list">
              <img
                class="Xiangshan_pic"
                src="img/mountain-img/xiangshan.jpeg"
                alt="Xiangshan"
              />
            </figure>
            <div class="list_detail">
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa
                quos ad quam numquam deleniti laboriosam vero odit officia,
                incidunt praesentium repudiandae dicta tempora quo in doloremque.
                Autem quasi quos vero.
              </p>
            </div>
          </div>

          <div class="list d-flex">
            <figure class="Jinmian_list">
              <img
                class="Jinmian_pic"
                src="img/mountain-img/jinmianshan.jpeg"
                alt="Jinmian"
              />
            </figure>
            <div class="list_detail">
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa
                quos ad quam numquam deleniti laboriosam vero odit officia,
                incidunt praesentium repudiandae dicta tempora quo in doloremque.
                Autem quasi quos vero.
              </p>
            </div>
          </div>

          <div class="list_last d-flex">
            <figure class="Chi-hsing_list">
              <img
                class="Chi-hsing_pic"
                src="img/mountain-img/sevenstar.jpeg"
                alt="Chi-hsing"
              />
            </figure>
            <div class="list_detail">
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa
                quos ad quam numquam deleniti laboriosam vero odit officia,
                incidunt praesentium repudiandae dicta tempora quo in doloremque.
                Autem quasi quos vero.
              </p>
            </div>
          </div>
        </div>
        <!-- =========map list end========= -->

        <!-- =========pages_btn star========= -->
        <div
          class="btn-toolbar justify-content-center"
          role="toolbar"
          aria-label="Toolbar with button groups"
        >
        <div class="btn-group mr-2" role="group" aria-label="Third group">
          <button type="button" class="btn btn-primary">|<</button>
        </div>
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-primary"><</button>
          </div>
          <div class="btn-group mr-2" role="group" aria-label="Second group">
            <button type="button" class="btn btn-primary">1</button>
          </div>
          <div class="btn-group mr-2" role="group" aria-label="Third group">
            <button type="button" class="btn btn-primary">></button>
          </div>
          <div class="btn-group" role="group" aria-label="Third group">
            <button type="button" class="btn btn-primary">>|</button>
          </div>
        </div>
        <!-- =========pages_btn end========= -->
        <div class="content_line"></div>
        <!-- =========推薦商品 start========= -->
        <div>
          <div class="product_title">
            <h3 class="h2">初階列表</h3>
          </div>
          <div class="d-flex product-list my-4">
            <div class="px-0">
              <div class="product-card">
                <div class="product-img-box position-relative">
                  <img class="cover-fit" src="./img/product-img/bags-pic2.jpeg" alt="">
                    <a role="button" class="position-absolute heart-icon-bkg position-relative">
                      <i class="bi bi-heart-fill position-absolute heart-icon"></i>
                    </a>
                    <a role="button" class="position-absolute cart-icon-bkg position-relative">
                      <i class="bi bi-cart-fill position-absolute cart-icon"></i>
                    </a>
                </div>
                <a href="#" class="text-left product-name">The North Face<br/>黑灰色休閒後背包</a>
                <p class="text-left product-price">NT $2,180</p>
              </div>
            </div>

            <div class="px-0">
              <div class="product-card">
                <div class="product-img-box position-relative">
                  <img class="cover-fit" src="./img/product-img/bags-pic8.jpeg" alt="">
                  <a role="button" class="position-absolute heart-icon-bkg position-relative">
                    <i class="bi bi-heart-fill position-absolute heart-icon"></i>
                  </a>
                  <a role="button" class="position-absolute cart-icon-bkg position-relative">
                    <i class="bi bi-cart-fill position-absolute cart-icon"></i>
                  </a>
                </div>
                <a href="#" class="text-left product-name">The North Face<br/>藍色專業登山後背包</a>
                <p class="text-left product-price">NT $8,380</p>
              </div>
            </div>

            <div class="px-0">
              <div class="product-card">
                <div class="product-img-box position-relative">
                  <img class="cover-fit" src="./img/product-img/shoes-pic8.jpeg" alt="">
                  <a role="button" class="position-absolute heart-icon-bkg position-relative">
                    <i class="bi bi-heart-fill position-absolute heart-icon"></i>
                  </a>
                  <a role="button" class="position-absolute cart-icon-bkg position-relative">
                    <i class="bi bi-cart-fill position-absolute cart-icon"></i>
                  </a>
                </div>
                <a href="#" class="text-left product-name">ASOLO<br/>阿空加瓜牛皮冰攀靴</a>
                <p class="text-left product-price">NT $8,980</p>
              </div>
            </div>
            <div class="px-0">
              <div class="product-card">
                <div class="product-img-box position-relative">
                  <img class="cover-fit" src="./img/product-img/clothes-pic5.jpeg" alt="">
                  <a role="button" class="position-absolute heart-icon-bkg position-relative">
                    <i class="bi bi-heart-fill position-absolute heart-icon"></i>
                  </a>
                  <a role="button" class="position-absolute cart-icon-bkg position-relative">
                    <i class="bi bi-cart-fill position-absolute cart-icon"></i>
                  </a>
                </div>
                <a href="#" class="text-left product-name">The North Face<br/>戶外保暖羽絨外套</a>
                <p class="text-rleft product-price">NT $8,310</p>
              </div>
            </div>

            <div class="downLowBear"></div>
            <div class="bearSpeak"></div>

          </div>
        </div>
        <!-- =========推薦商品 end========= -->

      </div>
    </div>
    <!-- =========content end========= -->

    <!-- =========footer star========= -->
    <footer class="footer">
      <div class="footer_box">
        <div class="d-flex justify-content-center">
          <div class="footer_head">
            <a class="nav-font" href="#">路線地圖</a>
          </div>
          <div class="footer_head">
            <a class="nav-font" href="#">推薦攻略</a>
          </div>
          <a href="#" class="footer_logo">
            <img src="img/logo.png" alt="footer_logo" />
          </a>
          <div class="footer_head">
            <a class="nav-font" href="#">購物商城</a>
          </div>
          <div class="footer_head_last">
            <a class="nav-font_footerLast" href="#">建議穿搭</a>
          </div>
        </div>

        <div class="footer_line"></div>

        <div class="d-flex justify-content-center">
          <div class="footer_info">聯絡資訊</div>
          <div class="footer_info">參考資訊</div>
        </div>
      </div>

      <div class="footer_copy d-flex justify-content-center">
        &copy;Copyright, Inc. 2021. MFEE17-第五組專題
      </div>
    </footer>
    <!-- =========footer end========= -->
    <!-- body end -->

    <script>
      let btn_nav = document.querySelector(".btn_nav");
      let nav = document.querySelector(".nav");

      btn_nav.onclick = function () {
        this.classList.toggle("change");
        nav.classList.toggle("nav_show");
      };
    </script>
  </body>
</html>
