/*============below all============*/
:root {
  --info-color: #19634a;
  --font-color: #ffffff;
  --button-color: #6da77f;
  --iconHover-color: rgb(249, 249, 173);
}
body {
  font-family: Roboto;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

/*============below header============*/
.header {
  /* position: relative; */
  background: var(--info-color);
  height: 78px;
}
.logo_top img {
  position: absolute;
  left: 23px;
  top: 6px;
}
.btns {
  position: absolute;
  right: 25px;
  top: 25px;
}
.search_button,
.shopping_button,
.sign_button {
  color: var(--font-color);
  margin-right: 20px;
}
.search_button:hover,
.shopping_button:hover,
.sign_button:hover {
  color: var(--iconHover-color);
}
.sign_button {
  border: 1px solid var(--font-color);
  border-radius: 5px;
  padding: 5px 20px;
}
.sign_button:hover {
  border: 1px solid var(--iconHover-color);
  border-radius: 5px;
  padding: 5px 20px;
}

/*============below nav============*/
.nav {
  position: absolute;
  left: 266px;
  top: 36px;
  max-width: 100%;
}
.nav-font {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: var(--font-color);
  margin-right: 20px;
}
.nav-font:hover {
  color: var(--font-color);
}

/*============below content============*/
/* part1 map start */
.bg {
  max-width: 100%;
  width: 100%;
}
.bg_box {
  position: relative;
}
.maps {
  position: absolute;
  /* top: 92px; */
  bottom: 69px;
  right: 143px;
}
.maps_item {
  position: relative;
}
.circle{
  clip-path:circle(50% at 50% 50%);
}
.Xiangshan {
  position: absolute;
  top: 138px;
  right: 192px;
  border: 3px solid var(--button-color);
  border-radius: 50%;
}
.Xiangshan_box{
  width:52px;
  height:52px;
  background:url(img/mountain-img/xiangshan.jpeg);
  background-size: cover;
}
.Jinmian_box{
  width:52px;
  height:52px;
  background:url(img/mountain-img/jinmianshan.jpeg);
  background-size: cover;
}
.Jinmian {
  position: absolute;
  top: 79px;
  right: 192px;
  border: 3px solid var(--button-color);
  border-radius: 50%;
}
.Chi-hsing_box{
  width:52px;
  height:52px;
  background:url(img/mountain-img/sevenstar.jpeg);
  background-size: cover;
}
.Chi-hsing {
  position: absolute;
  top: 34px;
  right: 230px;
  border: 3px solid var(--button-color);
  border-radius: 50%;
}
.lowBear {
  position: absolute;
  bottom: -58px;
  left: 70px;
}
/* part1 map end */
.container {
  padding: 0;
}
/* map_btn star */
.map_btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -96px;
}
.low_button,
.middle_button {
  padding: 8px 35px;
  margin-right: 68px;
  border: 0;
}
.high_button {
  padding: 8px 35px;
  margin-right: 0px;
  border: 0;
}
/* map_btn end */
/* map list star */
.content_list h2{
  margin-top: 108px;
  margin-left: 16px;
  margin-bottom: 24px;
}
.list{
  width: 1110px;
  height: 282px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 15px auto 0 auto;
}
.Xiangshan_list{
  width:350px;
  height:280px;
}
.Xiangshan_pic{
  border-radius: 10px;
  object-fit: fill;
  width:350px;
  height:100%;
}
.Jinmian_list{
  width:350px;
  height:280px;
}
.Jinmian_pic{
  border-radius: 10px;
  object-fit: fill;
  width:350px;
  height:100%;
}
.Chi-hsing_list{
  width:350px;
  height:280px;
}
.Chi-hsing_pic{
  border-radius: 10px;
  object-fit: fill;
  width:350px;
  height:100%;
}
.list_last{
  width: 1110px;
  height: 282px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 15px auto 36px auto;
}
.list_detail{
  margin: 16px 24px;
}
/* map list end */
/* pages_btn star */
.btn-toolbar{
  margin-bottom: 36px;
}
/* pages_btn end */

.content_line {
  border-top: 1px solid var(--button-color);
  margin: 0 auto;
  margin-bottom: 72px;
  max-width: 1108px;
}
/*推薦商品 start*/
.product_title h3 {
  margin-left: 16px;
}
.product-list{
  margin-left: 30px;
}
.product-card {
  margin: 10px auto;
  width: 160px;
}
.product-img-box {
  width: 130px;
  height: 130px;
}
.product-img-box img {
  border-radius: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.cover-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-name{
  display: block;
  margin: 10px 0;
  font-family: Source Sans Pro;
  font-size: 16px;
  line-height: 22px;
  color: #4e4e4e;
}
.product-price {
  font-family: Source Sans Pro;
  font-size: 14px;
  line-height: 20px;
  color: #414141;
}
.heart-icon-bkg {
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  right: 10px;
  top: 10px;
  color: white;

}
.heart-icon-bkg:hover, .cart-icon-bkg:hover {
  background: #333;
  color: #bdbdbd;
}
.heart-icon {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
}
.cart-icon {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}
.cart-icon-bkg {
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  right: 10px;
  top: 50px;
  color: white;
}
.downLowBear{
  width: 150px;
  height: 206px;
  background: url(img/mountain-img/lowBear.png);
  background-size: cover;
  margin-left: 150px;
  margin-top: 50px;
  z-index: 1;
}
.bearSpeak{
  width: 200px;
  height: 130px;
  background: url(img/mountain-img/lowSpeak.png);
  background-size: cover;
  margin-top: -45px;
  margin-left: -100px;
  z-index: 0;
}
/*推薦商品 end*/

/*============below footer============*/
.footer {
  position: relative;
  background: var(--info-color);
  height: 345px;
  margin-top: 72px;
}
.footer_box {
  padding-top: 50px;
}
.footer_head {
  margin-top: 35px;
  margin-right: 55px;
}
.footer_head_last {
  margin-top: 35px;
  margin-right: 0px;
}
.nav-font_footerLast {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: var(--font-color);
}
.nav-font_footerLast:hover {
  color: var(--font-color);
}
.footer_logo {
  margin-right: 75px;
}
.footer_line {
  border-top: 1px solid var(--font-color);
  margin: 0 auto;
  margin-top: 40px;
  max-width: 1000px;
}
.footer_info {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: var(--font-color);
  margin: 0 10px;
  margin-top: 50px;
}
.footer_copy {
  margin-top: 80px;
  color: var(--font-color);
}

/*********** ============below media============ *************/
@media screen and (max-width: 768px) {
  /*============below media header============*/
  .btns {
    right: 70px;
  }
  .btn_nav {
    cursor: pointer;
    display: block;
    position: absolute;
    right: 25px;
    top: 20px;
  }
  .bar1,
  .bar2,
  .bar3 {
    position: relative;
    width: 35px;
    height: 5px;
    background-color: var(--font-color);
    margin: 6px 0;
    transition: 0.4s;
  }
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  .change .bar2 {
    opacity: 0;
  }
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  /*============below media nav============*/
  .nav {
    width: 100%;
    background-color: var(--button-color);
    position: absolute;
    top: 78px;
    left: 0;
    /* here */
    display: none;
  }
  .nav_show {
    display: block;
  }
  .nav ul {
    flex-direction: column;
    margin: 0;
    overflow: hidden;
  }
  .nav ul li {
    border-bottom: 1px solid var(--info-color);
    width: 100%;
  }
  .nav ul li a {
    display: flex;
    justify-content: center;
    padding: 10px 40px;
    color: var(--font-color);
    line-height: 36px;
    vertical-align: middle;
    font-size: 22px;
  }

  /*============below media footer============*/
  .footer_head {
    margin-right: 0px;
  }
  .footer_logo {
    margin-right: 20px;
  }
}

/*********** ============below media 900px============ *************/
@media screen and (max-width: 900px) {
  .nav {
    left: 210px;
  }
  .nav-font {
  font-size: 16px;
  }
}
