/*category-bar start*/
.category-bar {
  max-width: 800px;
  margin: 10px auto;
}
.category-bar ul {
  margin: 0;
}
.category-bar ul li a {
  display: block;
  width: 200px;
  padding: 10px 0;
  text-align: center;
  /* body-title */
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: #828282;
  border-bottom: 4px solid #e0e0e0;
}
.category-bar ul li a:hover,
.category-bar ul li a.active {
  text-decoration: none;
  color: #333;
  border-bottom: 4px solid #6da77f;
}
@media screen and (max-width: 768px) {
  .category-bar {
    max-width: 540px;
  }
  .category-bar ul li a {
    width: 135px;
  }
}
/*category-bar end*/
/*display-photo-box start*/
.display-photo-box {
  margin: 20px auto;
  max-width: 1000px;
  height: 300px;
}
/*left arrow*/
.caret-left {
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
.caret-left i,
.caret-right i {
  color: white;
  font-size: 30px;
  opacity: 0.8;
}
.caret-left i:hover,
.caret-right i:hover {
  cursor: pointer;
  opacity: 1;
}
/*right arrow*/
.caret-right {
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
/*display-photo-box end*/
/*編輯嚴選 start*/
.title-box {
  padding-top: 20px;
  padding-bottom: 10px;
}
.selected-title {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: #19634a;
}
.title-underline {
  border-bottom: 2px solid #bdbdbd;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 350px;
}
/*產品*/
.product-card {
  margin: 10px auto;
  width: 200px;
  height: 300px;
}
.product-img-box {
  width: 200px;
  height: 200px;
  /* background: pink; */
}
.product-img-box img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.product-name {
  display: block;
  margin: 10px 0;
  font-family: Source Sans Pro;
  font-size: 16px;
  line-height: 22px;
  color: #4e4e4e;
}
.product-price {
  font-family: Source Sans Pro;
  font-size: 14px;
  line-height: 20px;
  color: #414141;
}
.heart-icon-bkg {
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  right: 10px;
  top: 10px;
}
.heart-icon {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
}
.cart-icon {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}
.cart-icon-bkg {
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  right: 10px;
  top: 50px;
}

/*編輯嚴選 end*/
