/*history start*/
.history-box {
  width: 80px;
  height: 300px;
  background: #fafafa;
  right: 0;
  top: 120px;
  z-index: 2;
}
.history-text {
  top: -20px;
  left: 14px;
  font-family: Source Sans Pro;
  font-size: 14px;
  line-height: 20px;
  color: #414141;
}
.history-img-box {
  width: 60px;
  margin: 10px auto;
}
.history-img-box img {
  border-radius: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/*history end*/
/*category-bar start*/
.category-bar {
  max-width: 800px;
  margin: 10px auto;
}
.category-bar ul {
  margin: 0;
}
.category-bar ul li a {
  display: block;
  width: 200px;
  padding: 10px 0;
  text-align: center;
  /* body-title */
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: #828282;
  border-bottom: 4px solid #e0e0e0;
}
.category-bar ul li a:hover,
.category-bar ul li a.active {
  text-decoration: none;
  color: #333;
  border-bottom: 4px solid #6da77f;
}
@media screen and (max-width: 768px) {
  .category-bar {
    max-width: 540px;
  }
  .category-bar ul li a {
    width: 135px;
  }
}
/*category-bar end*/
/*product start*/
/*left side start*/
.product-title {
  font-family: Inter;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #4e4e4e;
}
.product-pic-box {
  /* background: #828282; */
  height: 500px;
}
.product-pic-box figure {
  margin: 0 auto;
  width: 500px;
  height: 500px;
}
.product-pic-box figure img {
  border-radius: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.cover-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*left side end*/
/*right side start*/

.size-btn {
  width: 35px;
  height: 35px;
  border: 1px solid #6da77f;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: Source Sans Pro;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #6da77f;
  background: none;
}
.size-btn:hover,
.size-btn:active,
.size-btn.active {
  color: #fff;
  background: #6da77f;
}
.order-number {
  text-align: center;
  width: 35px;
  height: 35px;
  border: 2px solid #bae29a;
}
.minus-btn,
.add-btn {
  width: 50px;
  border: none;
  background: none;
  font-size: 24px;
  color: #24936e;
}
.line-box {
  border-bottom: 1px solid #bdbdbd;
}
.price-box {
  font-family: Inter;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #6da77f;
}
.addcart-box {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.like-btn {
  display: block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  border: 1px solid #9b9c9a;
  border-radius: 8px;
  color: #cc543a;
  font-size: 18px;
}
.add-cart-btn {
  display: block;
  width: 207px;
  height: 48px;
  line-height: 48px;
  background: #ffb943;
  border-radius: 8px;
  font-family: Source Sans Pro;
  font-weight: bold;
  font-size: 18px;
  color: #fafafa;
}
.add-cart-btn:hover {
  background: #ffdfa8;
  color: #9b9c9a;
  text-decoration: none;
}
.about-membership {
  bottom: -30px;
  right: 5px;
}
.about-membership a {
  font-family: Source Sans Pro;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.about-membership a:hover {
  text-decoration: none;
}
/*right side end*/
/*introduce part start*/
.introduce-title {
  width: 150px;
  height: 60px;
  line-height: 60px;
  background: #9b9c9a;
  color: #fafafa;
  font-family: Source Sans Pro;
  font-weight: bold;
  font-size: 18px;
}
.introduce-img-box {
  max-width: 600px;
}
.introduce {
  font-family: Source Sans Pro;
  font-size: 16px;
  line-height: 22px;
  color: #414141;
  text-align: justify;
}
/*introduce part end*/
/*product end*/
/*guideline start*/
.guideline-title i,
.recommand-title i {
  font-size: 20px;
  -webkit-text-stroke: 2px;
}
.guideline-title span,
.recommand-title span {
  font-family: Source Sans Pro;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: #5b7553;
}
.article-card {
  margin: 10px auto;
  max-width: 200px;
}
.article-img-box {
  width: 200px;
  height: 200px;
}
.article-img-box img {
  border-radius: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.article-name {
  display: block;
  margin: 10px 0;
  font-family: Source Sans Pro;
  font-size: 16px;
  line-height: 22px;
  color: #4e4e4e;
}
/*guideline end*/
/*recommanded items start*/
.product-card {
  margin: 10px auto;
  width: 200px;
  height: 300px;
}
.product-img-box {
  width: 100%;
  height: 200px;
}
.product-img-box img {
  border-radius: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.product-name,
.article-name {
  display: block;
  margin: 10px 0;
  font-family: Source Sans Pro;
  font-size: 16px;
  line-height: 22px;
  color: #4e4e4e;
}
.product-price {
  font-family: Source Sans Pro;
  font-size: 14px;
  line-height: 20px;
  color: #414141;
}
.heart-icon-bkg {
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  right: 10px;
  top: 10px;
  color: white;
}
.heart-icon-bkg:hover,
.cart-icon-bkg:hover {
  background: #333;
  color: #bdbdbd;
}
.heart-icon {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
}
.cart-icon {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}
.cart-icon-bkg {
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  right: 10px;
  top: 50px;
  color: white;
}
/*recommanded items end*/
