/*category-bar start*/
.category-bar {
  max-width: 800px;
  margin: 10px auto;
}
.category-bar ul {
  margin: 0;
}
.category-bar ul li a {
  display: block;
  width: 200px;
  padding: 10px 0;
  text-align: center;
  /* body-title */
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: #828282;
  border-bottom: 4px solid #e0e0e0;
}
.category-bar ul li a:hover,
.category-bar ul li a.active {
  text-decoration: none;
  color: #333;
  border-bottom: 4px solid #6da77f;
}
@media screen and (max-width: 768px) {
  .category-bar {
    max-width: 540px;
  }
  .category-bar ul li a {
    width: 135px;
  }
}
/*category-bar end*/
/*product start*/
/*left side start*/
.product-title {
  font-family: Inter;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #4e4e4e;
}
.product-img-box {
  /* background: #828282; */
  height: 500px;
}
.product-img-box figure {
  margin: 0 auto;
  width: 500px;
  height: 500px;
}
.product-img-box figure img {
  border-radius: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.cover-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*left side end*/
/*right side start*/

.product-order-box {
  border: 1px solid #000;
  /* background: #828282; */
}
.size-btn {
  width: 35px;
  height: 35px;
  border: 1px solid #6da77f;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: Source Sans Pro;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #6da77f;
}
.size-btn:hover,
.size-btn.active {
  color: #fff;
  background: #6da77f;
}
.order-number {
  text-align: center;
  width: 35px;
  height: 35px;
  border: 2px solid #bae29a;
}
.minus-btn,
.add-btn {
  width: 50px;
  height: 35px;
  border: none;
  background: none;
  font-size: 18px;
  color: #24936e;
}
.line-box {
  border-bottom: 1px solid #bababa;
}
.price-box {
  font-family: Inter;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #6da77f;
}
/*right side end*/

/*product end*/
